
- if comment.text 
  %p 
    = User.find(comment.user_id).username
    says:
    = comment.text
  %input.editCommentButton{ :type => "button", :value => "Edit Comment"}
  .editComment.answer_list{:style => "display:none;"}
    = form_for comment, url: photo_comment_path(@photo, comment) do |f|
      %fieldset.input 
        = f.label :text, 'Edit Comment'
        = f.text_field :text, :value => comment.text
      %fieldset.button
        = f.submit "Submit"

  = link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }