<h1>Most popular photos</h1>

<% sorted_photos = @photos.sort_by { |p| p.ratings.sum(:value) }.reverse %>
<% sorted_photos[0..2].each do |photo| %> 
  <%= link_to photo.name, photo %>
  <%= photo.image %>
  <% album_id = photo.album_id %>
  <% album = Album.find(album_id) %>
  <% user_id = album.user_id %>
  <% user = User.find(user_id) %>
  <%= link_to user.email, user %>
  <%= link_to album.name, album %>
  <%= link_to 'Edit', edit_photo_path(photo) %>
  <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
  <br>
<% end %>