%section
  %div
    = link_to image_tag(@photo.photo_file.thumb.url), @photo.photo_file.detail.url
  %div
    = @photo.name
    = #access the tags for the image
  %div
    = @photo.try :description
  %div
    = #upvote, downvote 
  %div
    - #if current user = the owner of this photo
    = link_to 'Edit', edit_photo_path(@photo)
    = link_to 'Back', photos_path

%section
  %div
    = form_for @photo do |f|
      = f.fields_for :comments do |coms_builder|
        %fieldset.input
          = coms_builder.label :text, 'Add a Comment'
          = coms_builder.text_field :text
        %fieldset.button
          = f.submit "Submit"
  %div
    %p Comments:
    - @photo.comments.each do |comment|
      %p= comment.text
    /not sure why @photo.comments returns an array, please to be finding out.

%footer
  /photo uploaded by link_to username
  /album: link_to album, album.name

    
