<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @photo.name %>
</p>

<p>
  <b>Description:</b>
  <%= @photo.description %>
</p>

<p>
  <b>Image:</b>
  <%= link_to image_tag(@photo.photo_file.thumb.url), @photo.photo_file.detail.url %>
</p>

<p>
  <b>Album:</b>
  <%= @photo.album_id %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
