%section
  %div
    = link_to image_tag(@photo.photo_file.thumb.url), @photo.photo_file.detail.url
  %div
    %p
      name:
      = @photo.name
    %p 
      tags:
      - @photo.tags.each do |tag|
        = tag.text
  %div
    %p
      description:
      = @photo.try :description
  %div
    %p
      Photo rating:
      = @photo.reputation_for(:votes).to_i
    %p
      = link_to "vote up", vote_photo_path(@photo, type: "up"), method: "post"
      |
      = link_to "vote down", vote_photo_path(@photo, type: "down"), method: "post"
  %div
    = link_to 'Edit', edit_photo_path(@photo)

%section
  %div
    = form_for @photo.comments.build, url: photo_comments_path(@photo) do |f|
      %fieldset.input 
        = f.label :text, 'Add a Comment'
        = f.text_field :text
      %fieldset.button
        = f.submit "Submit"
  %div
    %p Comments:
    - @photo.comments.each do |comment|
      - if comment.text 
        %p= comment.text
        = form_for comment, url: photo_comment_path(@photo, comment) do |f|
          %fieldset.input 
            = f.label :text, 'Edit Comment'
            = f.text_field :text, :value => comment.text
          %fieldset.button
            = f.submit "Submit"

        = link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }

%footer
  /photo uploaded by link_to username
  /album: link_to album, album.name

    
