%section
  %div
    = link_to image_tag(@photo.photo_file.thumb.url), @photo.photo_file.detail.url
  %div
    = @photo.name
    = #access the tags for the image
  %div
    = @photo.try :description
  %div
    = #upvote, downvote 
  %div
    - #if current user = the owner of this photo
    = link_to 'Edit', edit_photo_path(@photo)
    /this needs to link back to the album:
    = link_to 'Back', photos_path

%section
  %div
    = form_for @photo do |f|
      = f.fields_for :comments do |coms_builder|
        - if coms_builder.object.new_record?
          %fieldset.input 
            = coms_builder.label :text, 'Add a Comment'
            = coms_builder.text_field :text
          %fieldset.button
            = f.submit "Submit"
  %div
    %p Comments:
    - @photo.comments.each do |comment|
      - if comment.text 
        %p= comment.text
        // if current_user.id == comment.user_id
        %div
          = form_for @photo do |f|
            = f.fields_for :comments do |coms_builder|
              - if coms_builder.object == comment
                %fieldset.input 
                  = coms_builder.label :text, 'Edit'
                  = coms_builder.text_field :text
                %fieldset.button
                  = f.submit "Submit"

        = link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }
        //reroute destroy path in controller

    /why is there an extra destroy button? Never mind, got rid of it - still curious though.
    /not sure why @photo.comments returns an array, please to be finding out.

%footer
  /photo uploaded by link_to username
  /album: link_to album, album.name

    
