%p#notice
  notice#{notice}
%div
  = link_to image_tag(@photo.photo_file.thumb.url), @photo.photo_file.detail.url
%div
  = @photo.name
%div
  = @photo.description
%div
  = #access the tag for the image
= link_to 'Edit', edit_photo_path(@photo)
= link_to 'Back', photos_path