<p id="notice"><%= notice %></p>

<p>
  <b>Photo:</b>
  <%= @tag.photo_id %>
</p>

<p>
  <b>Text:</b>
  <%= @tag.text %>
</p>


<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
