.album
  = link_to album do
    - image = Photo.unscoped.find(album.cover_photo_id)
    = image_tag image.photo_file.url
  .overlay
    %ul
      %li
        %h3
          = link_to album.name, album 
      %li= "by #{album.user.username} #{time_ago_in_words(album.created_at)} ago"
    %ul.inline
    
      %li= link_to 'Show', album
      - if album.user_id == current_user.id
        %li= link_to 'Edit', edit_album_path(album)
        %li= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' }
        %li= link_to 'Add Photo', new_photo_path(album_id: album.id)
