<!-- no need this page -->
<h1>Listing albums</h1>

<table>
  <tr>
    <!-- <th>User</th> -->
    <th>Name</th>
    <th>Cover photo</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @albums.each do |album| %>
  <tr>
   <!--  <td><%= album.user_id %></td> -->
    <td><%= album.name %></td>
    <!-- to be able to see a cover photo here and be able to click to see individual photo page-->
    <td><%= album.cover_photo %></td>
    
    <td><%= album.description %></td>
    <td><%= link_to 'Show', album %></td>
    <td><%= link_to 'Edit', edit_album_path(album) %></td>
    <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Album', new_album_path %>
