<p id="notice"><%= notice %></p>



<p>
  <b>Name:</b>
  <%= @album.name %>
</p>
 
 <!-- to be able to see all the photos of this album and be able to click on them-->
 <p><b>Photo:</b>
 <%= image_tag @photo.photo_file.url %>
 </p>
<p>
  <b>Cover photo:</b>
  <%= @album.cover_photo %>
</p> 
  
<p>
  <b>Description:</b>
  <%= @album.description %>
</p>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
