%p#notice= notice
%p.notice
  / %b Name:
  = @album.name
/ to be able to see all the photos of this album and be able to click on them
%p
  / %b Cover photo:
  .cphoto
    = image_tag @album.cover_photo.photo_file.url if @album.cover_photo

%p
  .description 
  = @album.description
  - if user_signed_in?
    - if @album.user_id == current_user.id 

      =link_to 'Edit', edit_album_path(@album)
      |
      =link_to "Delete", @album, method: :delete, data: { confirm: 'Are you sure?' }

      .edit
        =link_to 'Edit', edit_album_path(@album)


.photothumbs 
  %ul
    - @album.photos.each do |photo|
      %li
        %p
          = photo.name
        = link_to photo_path(photo) do 
          = image_tag photo.photo_file.thumb.url
  -if @album.user_id == current_user.id
    = link_to 'New Photo', new_photo_path(album_id: @album.id)