%nav
  %ul
    %li
      = form_tag search_path, :method => 'get' do
        #search_input= text_field_tag :search_text, params[:search_text]
        #search_button= submit_tag 'Search'
    .login
    - if current_user
      %li
        = link_to current_user.username, "", class: :account_nav, id: 0
        %ul.hidden_login#hidden_login0{:style=>"display:none;"}
          %li 
            = link_to "Account", current_user
          %li 
            = link_to "Log out", destroy_user_session_path, method: :delete
    - else
      %li
        = link_to "Guest", "", class: :account_nav, id: 1
        %ul.hidden_login#hidden_login1{:style=>"display:none;"}
          %li 
            = link_to "Sign In", new_user_session_path
          %li 
            = link_to "Register", new_user_registration_path
    %li
      = link_to "Browse", "", class: :account_nav, id: 2
      %ul.hidden_login#hidden_login2{:style=>"display:none;"}
        %li
          = link_to "Albums", albums_path
        %li
          = link_to "Photos", photos_path
    - if current_user
      %li
        = link_to "New", "", class: :account_nav, id: 3
        %ul.hidden_login#hidden_login3{:style=>"display:none;"}
          %li
            = link_to "Album", new_album_path
          %li
            = link_to "Photo", new_photo_path

:javascript
  $(function(){
    setup();
  });